EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_or_live_value
EXPO_PUBLIC_WARDROBE_API_URL=https://wardrobe.davidcschmitt.com
EXPO_PUBLIC_POSTHOG_PROJECT_TOKEN=phc_project_token
EXPO_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
